@import "../../variables.scss";

fieldset {
    display: flex;
    margin: 20px 0;
    max-width: 80vw;
    max-height: 600px;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    legend {
        background-color: white;
        opacity: 1;
        border: 1px solid lightgray;
        margin-left: 30px;
        padding: 8px;
        text-transform: capitalize;
        font-weight: bolder;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.lv-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .lv-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding-bottom: 10px;
        background-color: white;
    }
}

.lv-container {
    display: flex;
    width: 100%;
    max-width: 960px;
    max-height: 450px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 30px;

    .error {
        border: 1px solid red;
        color: red;
        text-align: center;
        font-size: smaller;
        padding: 1px;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .error.show-error {
        opacity: 1;
    }
}

.lv-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: fit-content;
    width: 100%;
    min-width: 200px;
    max-width: 300px;

    input {
        max-width: calc(100% - 15px);
        margin: 0;
        margin-top: 10px;
    }
}

.lv-input {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lv-actions {
    position: sticky;
    bottom: 0;
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    @include button-style();

    .lv-subcontainer {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
        max-width: 900px;
    }
}

.lv-actions button:hover {
    background-color: #3e8e41;
}

@media (max-width: 1200px) {
    fieldset {
        max-width: 95vw;
    }
}

@media (max-width: 720px) {
    .lv-label {

        input {
            width: calc(100% - 15px);
            margin: 0;
        }
    }
}
