<div class="container" [style.background-color]="headerColor[0]">
    <div class="lv-table-container">
        <table class="lv-table" [style.color]="rowColor[1]">
            <thead>
              <tr>
                <th [style.background-color]="headerColor[0]" [style.color]="headerColor[1]" [hidden]="readOnly">
                    <img src="assets\table-icons\reduce.svg" alt="achicar tabla" *ngIf="flagReduceOrExpandShow" (click)="reduceOrExpand()" width="25px">
                    <img src="assets\table-icons\expand.svg" alt="achicar tabla" *ngIf="!flagReduceOrExpandShow" (click)="reduceOrExpand()" width="25px">
                </th>
                <th *ngFor="let header of headers" [style.background-color]="headerColor[0]" [style.color]="headerColor[1]">{{header}}</th>
              </tr>
            </thead>
            <tbody class="table-controls" *ngIf="!flagReduceOrExpandShow">  
                <tr *ngFor="let row of pageRows; let i=index" [style.background-color]="i%2===0 ? rowColor[0] : rowColor[2]">
                    <td [hidden]="readOnly">
                        <img class="table-icons" src="assets/table-icons/delete.svg" alt="Eliminar" width="20" height="20" (click)="deleteRow(row)">
                        <img class="table-icons" src="assets/table-icons/detail.svg" alt="Detalle" width="20" height="20" (click)="redirectToDetail(row['id'])">
                    </td>
                    <td *ngFor="let field of row; let o=index">
                        <ng-container [ngSwitch]="getFieldType(field)" *ngIf="!readOnly">
                            <input *ngSwitchCase="'number'" type="number" [ngModel]="field" (blur)="updateFieldValue($event.target, i, row, o)" [readonly]="readOnly">
                            <input *ngSwitchCase="'date'" type="date" [ngModel]="field | date:'yyyy-MM-dd'" (blur)="updateFieldValue($event.target, i, row, o)" [readonly]="readOnly">
                            <input *ngSwitchDefault type="text" [ngModel]="field" (blur)="updateFieldValue($event.target, i, row, o)" [readonly]="readOnly">
                        </ng-container>
                        <div id="field-readOnly" *ngIf="readOnly">{{isDateValid(field) ? (field | date: 'short') : field}}</div>
                    </td>
                </tr>
            </tbody>
            
          </table>
    </div>
    <div class="action-container" *ngIf="!readOnly">
        <div class="actions" [style.background-color]="headerColor[0]">
            <button [disabled]="!isDirty" (click)="modifyData()" [ngClass]="{'disabled': !isDirty, 'success-color': isDirty}">Guardar</button>
            <div class="pagination">
                <div class="before" (click)="previousPage()" *ngIf="totalPages > 1">&lt;</div>
                <div class="current-page">{{ currentPage }}/{{totalPages}}</div>
                <div class="after" (click)="nextPage()" *ngIf="totalPages > 1">&gt;</div>
              </div>
          </div>
    </div>
</div>

