@import '../../variables.scss';

.container {
  max-width: 95vw;
  padding: 10px;
  background-color: $table-header-color;
  border: 1px solid black;

  .action-container {
    .actions {
        margin-top: 20px;
        @include button-style();
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .pagination {
            display: flex;
            flex-direction: row;
            margin-right: 30px;

            .after{
                border: 1px solid black;
                margin-left: 10px;
                padding: 5px;
                text-align: center;
            }
            .before{
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }
            .current-page{
                border: 1px solid black;
                margin-left: 10px;
                padding: 5px;
                text-align: center;
            }
        }
      }
  }
  
  .lv-table-container {
    max-width: 95vw;
    margin: 0 auto;
    max-height: 600px;
    overflow-y: scroll;
  }

  .lv-table {
    width: 98%;
    border-collapse: collapse;
    font-family: $table-font-family;
    font-size: $table-font-size;
    line-height: $table-line-height;
    text-align: left;
    color: $table-text-color;
    background-color: $table-background-color;
    box-shadow: $table-box-shadow;

    .field-readOnly {
        width: fit-content;
        max-width: 200px;
    }
  }

  .lv-table input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: inherit;
  }

  .lv-table input[type="date"] {
    width: 150px; /* o el ancho que prefieras */
  }
  
  
//   .lv-table input[type="date"]::-webkit-calendar-picker-indicator {
//     width: 1.2em;
//     height: 1.2em;
//     padding: 0;
//     margin: 0;
//     vertical-align: middle;
//     opacity: 0.9;
//   }

  .lv-table button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #60a5fa;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .lv-table button:hover {
    background-color: #3b82f6;
  }
  
  thead {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .lv-table thead th {
    padding: 12px 16px;
    font-weight: bold;
    background-color: $table-header-color;
    border: none;
    color: $table-action-icons-color;
    text-transform: uppercase;
  }

  .lv-table tbody tr {
    border-bottom: 1px solid $table-row-hover-color;
    transition: background-color 0.2s ease-in-out;
  }

  .lv-table td {
    padding: 12px 16px;
    vertical-align: middle;
    border: none;

    img {
      margin-right: 10px;
      cursor: pointer;

      &:hover {
        border-radius: 50%;
        border: 1px solid darkgray;
        background-color: $table-row-hover-color;
      }
    }
  }

  .lv-table tbody tr:nth-of-type(odd) {
    background-color: $table-row-odd-color;
  }

  .lv-table tbody tr:nth-of-type(even) {
    background-color: $table-row-even-color;
  }

  .lv-table tbody tr:hover {
    background-color: $table-row-hover-color;
  }

  @media (max-width: 768px) {
    .lv-table {
      font-size: $table-mobile-font-size;
    }

    .lv-table td {
      padding: 12px 16px;
      vertical-align: middle;
      border: none;
      width: fit-content;
      max-width: $table-mobile-td-max-width;
      max-height: $table-mobile-td-max-height;
      overflow: $table-mobile-td-overflow;
    }
  }
}
