<div class="container" [style.background-color]="headerColor[0]">
    <div class="lv-table-container">
        <table class="lv-table" [style.color]="rowColor[1]">
            <thead>
              <tr>
                <th [style.background-color]="headerColor[0]" [style.color]="headerColor[1]">Acciones</th>
                <th *ngFor="let header of headers" [style.background-color]="headerColor[0]" [style.color]="headerColor[1]">{{header}}</th>
              </tr>
            </thead>
            <tbody class="table-controls">  
                <tr *ngFor="let row of rows; let i=index" [style.background-color]="i%2===0 ? rowColor[0] : rowColor[2]">
                    <td>
                        <img class="table-icons" src="assets/table-icons/delete.svg" alt="Eliminar" width="20" height="20">
                        <img class="table-icons" src="assets/table-icons/detail.svg" alt="Detalle" width="20" height="20">
                    </td>
                    <td *ngFor="let field of row; let o=index">
                        <ng-container [ngSwitch]="getFieldType(field)">
                            <input *ngSwitchCase="'number'" type="number" [ngModel]="field" (blur)="updateFieldValue($event.target, i, row, o)">
                            <input *ngSwitchCase="'date'" type="date" [ngModel]="field | date:'yyyy-MM-dd'" (blur)="updateFieldValue($event.target, i, row, o)">
                            <input *ngSwitchDefault type="text" [ngModel]="field" (blur)="updateFieldValue($event.target, i, row, o)">
                        </ng-container>
                    </td>
                </tr>
            </tbody>
            
          </table>
    </div>
    <div>
        <div class="actions" [style.background-color]="headerColor[0]">
            <button (click)="modifyData()">Guardar</button>
          </div>
    </div>
</div>

