<div class="carousel" [style]="selector">
    <div class="image-container-wrapper">
      <div class="image-container" [@slideAnimation]="currentIndex">
        <img id="slide" [src]="slides[currentIndex].src" [alt]="slides[currentIndex].descripcion">
      </div>
    </div>
    <div class="user-controls">
      <img src="assets/slider-icons/chevron-left-square-svgrepo-com.svg" alt="anterior" (click)="anterior()">
      <div class="slide-name">{{slides[currentIndex].nombre}}</div>
      <img src="assets/slider-icons/chevron-right-square-svgrepo-com.svg" alt="anterior" (click)="siguiente()">
    </div>
  </div>
  