@import '../../variables.scss';

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 600px;
    background-color: black;
    border: 3px solid black;
    border-radius: 6px;

    .image-container-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px; // Altura fija del contenedor de imágenes
        width: 100%;
        background-color: white;

        &:hover {
            background-color: whitesmoke;
        }
    }

    .image-container {
        width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            max-width: 60vw;
            max-height: 350px;
            object-fit: contain;
        }
    }

    .user-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 10px;

        .slide-name {
            font-size: 1.3rem;
        }

        @include button-style();
    }
}
