@import '../../variables.scss';

$lv-container-width: 250px;
$lv-container-closed-width:$lv-container-width;
$padding: 15px;
$translate-calc: calc($lv-container-closed-width + ($padding * 2));

.lv-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: $lv-container-width;
    max-width: $lv-container-width;
    height: 100vh;
    max-height: 100%;
    position: fixed;
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.934);
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: $box-shadow;
    padding: $padding;
    padding-bottom: 30px;
    overflow-y: auto;
    transition: transform 1s ease-in-out;
    transform: translateX(0px);
   
    .links {
        margin-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0;
        background-color: white;

        *{
            display: flex;
            justify-self: center;
            align-self: center;
        }

        .link {
            padding: 0;
            margin: 2px;
            width: calc(100% - 60px);
            max-width: 200px;
            gap: 10px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            box-shadow: $box-shadow;
            overflow-x: hidden;
            font-size: smaller;
            transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;

            &:hover {
                transform: scale(1.1);
                background-color: darken(white, 5%);
                cursor: pointer;
            }
        }
    }
}

.lv-container.left {
    left: 0px;
    top: 0px;

    &.close {
        transition: transform 1s ease-in-out;
        transform: translateX(-$translate-calc);
    }

    &.open {
        transition: transform 1s ease-in-out;
        transform: translateX(0px);
    }
}

.lv-container.right {
    right: 0px;
    top: 0px;

    &.close {
        transition: transform 1s ease-in-out;
        transform: translateX(+$translate-calc);
    }

    &.open {
        transition: transform 1s ease-in-out;
        transform: translateX(0px);
    }
}

.lv-container.bottom {
    position: fixed;
    padding: 15px;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    width: 100vw !important;
    height: 60px;
    max-height: 150px;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    &.close {
        transition: transform 1s ease-in-out;
        transform: translateY(+$translate-calc);
    }

    &.open {
        transition: transform 1s ease-in-out;
        transform: translateY(0px);
    }

    .link {
        padding: 0;
        margin: 2px;
        width: auto;
        max-width: 150px;
        gap: 10px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        box-shadow: $box-shadow;
        overflow-x: hidden;
        font-size: smaller;
        transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: lighten($main-theme, 20%);
            cursor: pointer;
        }
    }
}

img {
    max-width: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;

    &:hover {
        background-color: lighten($main-theme, 20%);
    }
}
