<div class="lv-container" [ngClass]="{'open': !close, 'close': close, 'left': position === posLeft, 'right':  position === posRight, 'bottom': position === posBottom}">
    <div class="burguer-icon">
        <img src="assets/sideBar-icons/burguer-icon.svg" alt="burguer icon" (click)="closeState()">
    </div>
    <div class="links" *ngFor="let link of links">
        <div class="link">
            <!-- <img [src]="link.icon ? link.icon : 'assets/sideBar-icons/gear.svg'" [alt]="link.description"> -->
            <img src="assets/table-icons/detail.svg" alt="go to url">
            <div>{{link.description}}</div> 
        </div>
        <ng-content></ng-content>
    </div>
</div>