$main-theme: #eee;
$table-row-odd-color: #f5f5f5;
$table-row-even-color: #efefef;
$table-row-hover-color: #ddd;
$table-action-icons-color: #555;
$table-action-icons-hover-color: #333;
$table-background-color: #fff;
$table-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$table-font-family: Arial, sans-serif;
$table-font-size: 16px;
$table-line-height: 1.4;
$table-text-color: #333;

$table-mobile-font-size: 14px;
$table-mobile-td-max-width: 200px;
$table-mobile-td-max-height: 100px;
$table-mobile-td-overflow: "auto";
$actions-color: #333;

$shadow-color: rgba(255, 255, 255, 0.5); // Color del sombreado
$shadow-blur: 10px; // Desenfoque del sombreado
$shadow-offset: 0px 0px; // Desplazamiento horizontal y vertical del sombreado
$shadow-size: 0px; // Tamaño del sombreado

//temas
$succes-color: rgb(76, 175, 80);

//botones
$background-button: #007bff;

@mixin button-style() {
    button {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid white;
        text-align: center;
        padding: 0.5rem;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0.25rem;
        background-color: white;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
        transition: background-color 0.4s ease-in-out;
        vertical-align: center;

        &:hover {
            color: white;
            background-color: $background-button;
            box-shadow: $shadow-offset $shadow-blur $shadow-size $shadow-color;
        }
    }

    .success-color {
        background-color: $succes-color;
        color: white;

        &:hover {
            border: 1px solid $succes-color;
            background-color: white;
            color: $succes-color;
        }
    }

    .danger {
        background-color: red;
        color: white;

        &:hover {
            border: 1px solid red;
            background-color: white;
            color: red;
        }
    }

    .disabled {
        background-color: rgb(168, 165, 165);
        border: 1px solid rgb(168, 165, 165);
        color: grey;

        &:hover {
            background-color: rgb(168, 165, 165);
            border: 1px solid rgb(168, 165, 165);
            color: grey;
        }
    }

    .secondary {
        background-color: rgb(0, 2, 145);
        border: 1px solid rgb(0, 2, 145);
        color: white;

        &:hover {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            color: rgb(0, 2, 145);
        }
    }
}
