$table-header-color: #eee;
$table-row-odd-color: #f5f5f5;
$table-row-even-color: #efefef;
$table-row-hover-color: #ddd;
$table-action-icons-color: #555;
$table-action-icons-hover-color: #333;
$table-background-color: #fff;
$table-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
$table-font-family: Arial, sans-serif;
$table-font-size: 16px;
$table-line-height: 1.4;
$table-text-color: #333;

$table-mobile-font-size: 14px;
$table-mobile-td-max-width: 200px;
$table-mobile-td-max-height: 100px;
$table-mobile-td-overflow: auto;
$actions-color: #333;
