<div class="lv-container" (click)="openClose()">
    <img src="assets/commons/menu-vertical-svgrepo-com.svg" alt="menu">
    <div class="dropdown" *ngIf="close">
        <div *ngFor="let item of links" class="links">
            <div class="link" (click)="redirect(item.url)">
                <img *ngIf="item.icon" [src]="item.icon" alt="icon">
                <img *ngIf="!item.icon" class="table-icons" src="assets/table-icons/detail.svg" alt="Detalle" width="20" height="20">
                <div>{{item.description}}</div>
            </div>
        </div>
        <div class="dev-content">
            <ng-content></ng-content>
        </div>
    </div>
</div>