<div class="page" *ngIf="show">
    <div class="container">
        <div class="header" [ngClass]="{'confirmation': modalType === 0, 'error': modalType === 1, 'warning': modalType === 2, 'succes' : modalType === 3, 'information' : modalType === 4}">
            <div class="relleno"></div>
            <div>{{headerMessage}}</div>
            <img src="assets\modal-icons\close.svg" alt="" class="quitIcon" (click)="closeModal()">
        </div>
        <div class="body">
            <div>{{message}}</div>
        </div>
        <div class="modal-actions" [ngClass]="{'confirmation': modalType === 0, 'error': modalType === 1, 'warning': modalType === 2, 'succes' : modalType === 3, 'information' : modalType === 4}">
            <ng-container [ngSwitch]="modalType">
                <div *ngSwitchCase="0">
                    <button (click)="accept()">Aceptar</button>
                    <button (click)="decline()">Cancelar</button>
                </div>
                <div *ngSwitchCase="1">
                    <button (click)="accept()">Aceptar</button>
                </div>
                <div *ngSwitchCase="2">
                    <button (click)="accept()">Aceptar</button>
                </div>
                <div *ngSwitchCase="3">
                    <button (click)="accept()">Aceptar</button>
                </div>
                <div *ngSwitchCase="4">
                    <button (click)="accept()">Aceptar</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

